{% extends 'layout.html' %}

{% block content %}
{% include 'alerts.html' %}


 <div class="content-section col-md-6">
 <form method="POST", action="">
    {{ form.hidden_tag() }}
	<legend class="border-bottom mb-4">Join Today</legend>
    <div class="form-group">
    	{{ form.username.label()}}
    	{{ form.username(class="form-control form-control-lg",placeholder="Password")}}
    </div>
  
  	<div class="form-group">
    		{{ form.email.label()}}
    		{{ form.email(class="form-control",placeholder="Email Address")}}
    </div>


	<div class="form-group">
    		{{ form.password.label()}}
    		{{ form.password(class="form-control",placeholder="Enter Password")}}
    </div>


	<div class="form-group">
    		{{ form.confirm_password.label()}}
    		{{ form.confirm_password(class="form-control",placeholder="Re Enter Password")}}
    </div>


 
    
    	<div class="form-group">
    	 
    		{{  form.submit(class="btn btn-primary") }}
    	</div>

  <div class="bodder-bottom pt-3" >
    <small class="text-muted">
         Already registered <a href="{{url_for('login')}}">Sign in  </a>
    </small>
  </div>

 </form>

 

 </div>
{% endblock content %}

